body {
    font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
    font-variant: small-caps;
}

.col-content {

    transform: scale(0.9);

}

.teaser .hero-body {
    padding-top: 0;
    padding-bottom: 3rem;
}

.teaser {
    font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
    max-height: parent;

}

.publication-banner video {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
    color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
    display: inline-block;
}

.publication-banner img {
}

.publication-authors {
    /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

}

.publication-body img {
    object-fit: contain;
}

.publication-body2 img {
    object-fit: scale-down;
}

.results-carousel {
    overflow: hidden;
}

.results-carousel .item {
    overflow: hidden;
    padding: 30px;
    font-size: 0;
}

.results-carousel video {
    margin: 0;
}


.interpolation-panel {
    background: #f5f5f5;
    border-radius: 10px;
}

.interpolation-panel .interpolation-image {
    width: 100%;
    border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
    margin: 0 !important;
}

.interpolation-panel .slider {
    margin: 0 !important;
}

#interpolation-image-wrapper {
    width: 100%;
}

#interpolation-image-wrapper img {
    border-radius: 5px;
}

.box {
  position: relative;
  margin-left: 20px;
}
.box:before{
  position: absolute;
  left: -30px;
  content: "";
  height:20px;
  width:20px;
  margin-bottom:10px;
}
.box.blue:before{
  background-color:lightskyblue;
}
.box.yellow:before{
  background-color:lightgoldenrodyellow;
}
.box.purple:before{
  background-color:mediumpurple;
}
.box.green:before{
  background-color:lightgreen;
}
.box.pink:before{
  background-color:pink;
}
.box.gray:before{
  background-color:darkgrey;
}
.column.no-padding{
    padding:0;
}